﻿@using VM.Web.Models.Event
@model AreaPlanModel
@{
    ViewBag.Title = Resources.AreasTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Resources.EventLabel: @Model.EventName</h3>
<h3>@Resources.DescriptionLabel: @Model.EventDescription</h3>

<table class="area-plan table">
    @for (int y = 1; y <= Model.Y; y++)
    {
        <tr>
            @for (int x = 1; x <= Model.X; x++)
            {
                if (Model.Areas.Any(area => area.CoordX == x && area.CoordY == y))
                {
                    <td>
                        @using (Html.BeginForm("Seats", "Event", FormMethod.Get, new { @class = "form-inline", role = "form" }))
                        {
                            @Html.Hidden("eventAreaId", Model.Areas.Single(area => area.CoordX == x && area.CoordY == y).Id);
                            <input type="submit" value="@Model.Areas.Single(seat => seat.CoordX == x && seat.CoordY == y).CoordX" class="btn btn-default area-item" id="@Model.Areas.Single(area => area.CoordX == x && area.CoordY == y).Id" />
                        }
                    </td>
                }
                else
                {
                    <td>
                        <input type="submit" value="" class="btn btn-default area-item" />
                    </td>
                }
            }
        </tr>
    }
</table>