﻿@using VM.Web.Models.Event
@model CreateEventModel
@{
    ViewBag.Title = Resources.CreateEventTitle;
}

<h2>@Resources.CreateEventTitle</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<ul class="mdl-list">
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Name, new { id = "event-name", @class = "input-name mdl-textfield__input", aria_label = Resources.NameLabel, aria_describedby = "basic-addon1" })
            <label class="mdl-textfield__label" for="input-name">@Resources.NameLabel</label>
            <span class="mdl-textfield__error">@Resources.PatternValidationMessage</span>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Description, new { id = "event-desc",@class = "input-description mdl-textfield__input", aria_label = Resources.DescriptionLabel, aria_describedby = "basic-addon1" })
            <label class="mdl-textfield__label" for="input-description">@Resources.DescriptionLabel</label>
            <span class="mdl-textfield__error">@Resources.PatternValidationMessage</span>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.ImageLink, new { id = "event-imagelink", @class = "input-text mdl-textfield__input", aria_label = Resources.ImageLinkLabel, aria_describedby = "basic-addon1" })
            <label class="mdl-textfield__label">@Resources.ImageLinkLabel</label>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield input-date mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Date, new { id = "event-date", @type = "date", @class = "mdl-textfield__input datepicker" })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            <label class="mdl-textfield__label">@Resources.DateLabel</label>
        </div>
        <div class="mdl-textfield input-time mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Time, new { id = "event-time",@type = "time", @class = "mdl-textfield__input timepicker" })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            <label class="mdl-textfield__label">@Resources.TimeLabel</label>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.DropDownListFor(model => model.LayoutId, new SelectList((IEnumerable<Layout>)ViewBag.Layouts, "Id", "Name"), new { @class = "mdl-textfield__input", id = "event-layout" })
            <label class="mdl-textfield__label" for="event-layout">@Resources.LayoutLabel</label>
        </div>
    </li>
    <li class="mdl-list__item">
        <input id = "event-createsubmit" type="submit" value="@Resources.CreateLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
    </li>
</ul>
}