﻿@using VM.Web.Models.Event
@model UpdateEventModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()

@using (Html.BeginForm("Delete", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <ul class="mdl-list">
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.TextBoxFor(model => model.Name, new { @class = "input-name mdl-textfield__input", aria_label = Resources.NameLabel, aria_describedby = "basic-addon1", @readonly = "readonly" })
                <label class="mdl-textfield__label" for="input-name">@Resources.NameLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.TextBoxFor(model => model.Description, new { @class = "input-description mdl-textfield__input", aria_label = Resources.DescriptionLabel, aria_describedby = "basic-addon1", @readonly = "readonly" })
                <label class="mdl-textfield__label" for="input-description">@Resources.DescriptionLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.TextBoxFor(model => model.ImageLink, new { @class = "input-text mdl-textfield__input", aria_label = Resources.ImageLinkLabel, aria_describedby = "basic-addon1", @readonly = "readonly" })
                <label class="mdl-textfield__label" for="input-password">@Resources.ImageLinkLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield input-date mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.TextBoxFor(model => model.Date, new { @type = "date", @class = "mdl-textfield__input datepicker", @Value = @Model.Date.ToString("yyyy-MM-dd"), @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                <label class="mdl-textfield__label" for="input-password">@Resources.DateLabel</label>
            </div>
            <div class="mdl-textfield input-time mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.TextBoxFor(model => model.Time, new { @type = "time", @class = "mdl-textfield__input timepicker", @Value = @Model.Date.ToString("HH:mm"), @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                <label class="mdl-textfield__label" for="input-password">@Resources.TimeLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.TextBoxFor(model => model.LayoutId, new { @class = "input-layoutid mdl-textfield__input", aria_label = Resources.LayoutLabel, aria_describedby = "basic-addon1", @readonly = "readonly" })
                <label class="mdl-textfield__label" for="input-layoutid">@Resources.LayoutLabel</label>
            </div>
        </li>

        @for (var i = 0; i < Model.EventAreas.Count(); i++)
        {
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                    @Html.TextBoxFor(model => model.EventAreas[i].Price, new { @class = "input-layoutid mdl-textfield__input", aria_label = Resources.PriceLabel, aria_describedby = "basic-addon1", @Value = @Model.EventAreas[i].Price, @readonly = "readonly" })
                    <label class="mdl-textfield__label" for="input-layoutid">@Resources.PriceForLabel @Model.EventAreas[i].Description</label>
                </div>
            </li>
        }
        <li class="mdl-list__item">
            @if (!ViewData.ModelState.ContainsKey("HasPurchasedSeatsError"))
            {
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="@Resources.DeleteLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="event-deletesubmit"/>
            }
        </li>
    </ul>
}
