﻿@{
    ViewBag.Title = Resources.EventsTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-grid">
    @using VM.DataAccess.Entities
    @foreach (var item in (IEnumerable<Event>)ViewData["Events"])
    {
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" style="background: url('@item.Img')">
                <h2 class="mdl-card__title-text" style="color:black;">@item.Name</h2>
            </div>
            <div class="mdl-card__supporting-text">
                @item.Description
            </div>
            <div class="mdl-card__actions mdl-card--border">
                @Html.HiddenFor(modelItem => item.Id)
                @Html.ActionLink(linkText: Resources.BuyTicketsLabel, actionName: "Areas", routeValues: new { eventId = item.Id }, htmlAttributes: new { @class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", eventid = item.Id })
                @if (User.IsInRole("Admin"))
                {
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button-update-event">
                        <i class="material-icons">reorder</i>
                        @Html.ActionLink(linkText: " ", actionName: "Update", routeValues: new { eventId = item.Id }, htmlAttributes: new { @class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", eventid = item.Id })
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button-delete-event">
                        <i class="material-icons">cancel</i>
                        @Html.ActionLink(linkText: " ", actionName: "Delete", routeValues: new { eventId = item.Id }, htmlAttributes: new { @class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", eventid = item.Id })
                    </button>
                }
            </div>
        </div>
    }
</div>