﻿@using VM.Web.Models.Event
@model SeatPlanModel

<h3>@Resources.AreaLabel: @Model.EventArea.Description</h3>
<h3>@Resources.PriceLabel: @Model.EventArea.Price.ToPriceString((CultureInfo)ViewBag.Culture)</h3>

<table class="seat-plan table">
    @for (int y = 1; y <= Model.MaxCoordY; y++)
    {
        <tr>
            @for (int x = 1; x <= Model.MaxCoordX; x++)
            {
                if (Model.Seats.Any(seat => seat.Number == x && seat.Row == y))
                {
                    <td>
                        @using (Html.BeginForm("Seats", "Event", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                        {
                            @Html.Hidden("eventAreaId", Model.Seats.Single(seat => seat.Number == x && seat.Row == y).EventAreaId);
                            @Html.Hidden("id", Model.Seats.Single(seat => seat.Number == x && seat.Row == y).Id);
                            <input type="submit" value="@Model.Seats.Single(seat => seat.Number == x && seat.Row == y).Number" class="btn btn-default seat-item" id="@Model.Seats.Single(seat => seat.Number == x && seat.Row == y).Id" />
                        }
                    </td>
                }
                else
                {
                    <td>
                        <input type="submit" value="" class="btn btn-default seat-item" />
                    </td>
                }
            }
        </tr>
    }
</table>