﻿@using VM.Web.Models.Event
@model UpdateEventModel
@{
    ViewBag.Title = Resources.UpdateEventTitle;
}

<h2>Update Event</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("Update", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<ul class="mdl-list">
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Id, new { id = "event-id", @class = "input-id mdl-textfield__input", aria_label = "ID", aria_describedby = "basic-addon1", @readonly = "readonly" })
            <label class="mdl-textfield__label" for="input-id">ID</label>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Name, new { id = "event-name", @class = "input-name mdl-textfield__input", aria_label = Resources.NameLabel, aria_describedby = "basic-addon1" })
            <label class="mdl-textfield__label" for="input-name">@Resources.NameLabel</label>
            <span class="mdl-textfield__error">@Resources.PatternValidationMessage</span>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Description, new { id = "event-desc", @class = "input-description mdl-textfield__input", aria_label = Resources.DescriptionLabel, aria_describedby = "basic-addon1" })
            <label class="mdl-textfield__label" for="input-description">@Resources.DescriptionLabel</label>
            <span class="mdl-textfield__error">@Resources.PatternValidationMessage</span>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.ImageLink, new { id = "event-imagelink", @class = "input-text mdl-textfield__input", aria_label = Resources.ImageLinkLabel, aria_describedby = "basic-addon1" })
            <label class="mdl-textfield__label" for="input-password">@Resources.ImageLinkLabel</label>
        </div>
    </li>
    <li class="mdl-list__item">
        <div class="mdl-textfield input-date mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Date, new { id = "event-date", @type = "date", @class = "mdl-textfield__input datepicker", @Value = @Model.Date.ToString("yyyy-MM-dd") })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            <label class="mdl-textfield__label" for="input-password">@Resources.DateLabel</label>
        </div>
        <div class="mdl-textfield input-time mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            @Html.TextBoxFor(model => model.Time, new { id = "event-time", @type = "time", @class = "mdl-textfield__input timepicker", @Value = @Model.Date.ToString("HH:mm") })
            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            <label class="mdl-textfield__label" for="input-password">@Resources.TimeLabel</label>
        </div>
    </li>
    @if (!ViewData.ModelState.ContainsKey("HasPurchasedSeatsError"))
    {
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.DropDownListFor(model => model.LayoutId, Model.Layouts, new { @class = "mdl-textfield__input", id = "event-layout" })
                <label class="mdl-textfield__label" for="event-layout">@Resources.LayoutLabel</label>
            </div>
        </li>
    }

    @using VM.Extensions
    @for (var i = 0; i < Model.EventAreas.Count(); i++)
    {
        @Html.HiddenFor(model => model.EventAreas[i].Id);
        @Html.HiddenFor(model => model.EventAreas[i].Description);
        @Html.HiddenFor(model => model.EventAreas[i].CoordX);
        @Html.HiddenFor(model => model.EventAreas[i].CoordY);
        @Html.HiddenFor(model => model.EventAreas[i].EventId);
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                @Html.TextBoxFor(model => model.EventAreas[i].Price, new { id = Model.EventAreas[i].Id, @class = "input-areaid mdl-textfield__input", aria_label = "Layout Id", aria_describedby = "basic-addon1", @Value = @Model.EventAreas[i].Price.ToString("F", ViewBag.Culture) })
                <label class="mdl-textfield__label" for="input-layoutid">@Resources.PriceForLabel @Model.EventAreas[i].Description</label>
            </div>
        </li>
    }
    <li class="mdl-list__item">
        <input type="submit" id ="event-updatesubmit" value="@Resources.UpdateLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
    </li>
</ul>
}