﻿@using VM.Web.Models.Basket
@model BasketModel
@{
    ViewBag.Title = Resources.BasketTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary()
<h2>@Resources.BasketSummaryTitle</h2>
<div>
    <ul class="mdl-list">
        @if (Model.Seats.Any())
        {
            <li class="mdl-list__item">
                <h3>@Resources.BasketExpiresLabel: @Model.BasketExpiryDate</h3>
            </li>
            <li>
                <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <tbody>
                        <tr>
                            <td>
                                @Resources.BalanceLabel:
                            </td>
                            <td>
                                @Model.BalanceLabel
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="mdl-list__item">
                <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Seats)
                        {
                            <tr>
                                <td>
                                    @item.SeatId
                                </td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromBasket", "Basket", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
                                    {
                                        @Html.Hidden("link", item.Id);
                                        <input type="submit" value="@Resources.RemoveLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
            <li class="mdl-list__item">
                <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <tbody>
                        <tr>
                            <td>
                                @Resources.SummaryLabel:
                            </td>
                            <td>
                                @Model.SummaryLabel
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            if (Model.Balance >= Model.Summary)
            {
                <li class="mdl-list__item">
                    @using (Html.BeginForm("ConfirmBasket", "Basket", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                        <input type="submit" value="@Resources.ConfirmLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="basket-confirm" />
                    }
                </li>
            }
            else
            {
                <li class="mdl-list__item">
                    @Resources.NotEnoughMoneyMessage
                </li>
            }

        }
        else
        {
            <li class="mdl-list__item">
                @Resources.NoSeatsMessage
            </li>
        }
    </ul>
</div>