﻿@using VM.Web.Models.Account
@model AccountHistoryModel
@{
    ViewBag.Title = Resources.HistoryTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.HistoryTitle</h2>

<div>
    @using System.Globalization
    @if (Model.Orders.Any())
    {
        foreach (var order in Model.Orders)
        {
            <ul class="mdl-list" order-id="@order.Id">
                <li class="mdl-list__item">
                    Id: @order.Id, @Resources.DateLabel: @order.Date.WithTimeZone((TimeZoneInfo)ViewBag.TimeZone), @Resources.PriceLabel: @order.Price.ToPriceString((CultureInfo)ViewBag.Culture)
                </li>
                <li class="mdl-list__item">
                    <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>@Resources.PriceLabel</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var seat in Model.OrderSeats.Where(seat => seat.OrderId == order.Id))
                            {
                                <tr eventseat-id="@seat.EventSeatId">
                                    <td>
                                        @seat.EventSeatId
                                    </td>
                                    <td>
                                        @seat.Price.ToPriceString((CultureInfo)ViewBag.Culture)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </li>
            </ul>
        }
    }
    else
    {
        <li class="mdl-list__item">
            @Resources.NoOrdersMessage
        </li>
    }
</div>