﻿@using VM.Web.Models.Account
@model LoginModel
@{
    ViewBag.Title = Resources.LoginTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.LoginTitle</h2>
@Html.ValidationSummary()
<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <ul class="mdl-list">
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-username input-text mdl-textfield__input", aria_label = "Username", aria_describedby = "basic-addon1" })
                    <label class="mdl-textfield__label" for="input-username">@Resources.UserNameLabel</label>
                </div>
            </li>
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.PasswordFor(model => model.Password, new { @class = "input-password input-text mdl-textfield__input", aria_label = "Password", aria_describedby = "basic-addon1" })
                    <label class="mdl-textfield__label" for="input-password">@Resources.PasswordLabel</label>
                </div>
            </li>
            <li class="mdl-list__item">
                <input type="submit" id="login-submit" value="@Resources.LoginButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
            </li>
        </ul>
    }
    @Html.ActionLink(Resources.StillNotRegisteredLabel, "Register")
</div>