﻿@using VM.Web.Models.Account
@model RoleModel

@{
    ViewBag.Title = Resources.RolesTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Resources.AddRoleTitle</h3>

<div>
    @using (Html.BeginForm("AddRole", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <ul class="mdl-list">
            <li class="mdl-list__item">
                @Html.TextBoxFor(model => model.Name, new { @class = "input-text mdl-textfield__input", placeholder = Resources.RoleNameLabel, aria_label = Resources.RoleNameLabel, aria_describedby = "basic-addon1" })
            </li>
            <li class="mdl-list__item">
                <input type="submit" value="@Resources.AddLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
            </li>
        </ul>
    }
</div>

<h3>@Resources.RemoveRoleTitle</h3>

<table class="table">
    @using VM.DataAccess.Entities
    @foreach (var item in (IEnumerable<Role>)ViewData["Roles"])
    {
    <tr>
        <td style="min-width:150px;">
            <a class="mdl-navigation__link">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        @using (Html.BeginForm("DeleteRole", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
        {
        <td>
            @Html.Hidden("id", item.Id)
            <input type="submit" value="@Resources.DeleteLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
        </td>
        }
    </tr>
    }
</table>
