﻿@using VM.Web.Models.Account
@model UpdateAccountModel
@{
    ViewBag.Title = Resources.AccountManagementTitle;
}

<h2>@Resources.AccountManagementTitle</h2>
@Html.ValidationSummary()

<div>
    @using (Html.BeginForm("AddToBalance", "Account", FormMethod.Post))
    {
        <ul class="mdl-list">
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.TextBoxFor(model => model.BalanceToAdd, new { @class = "input-addtobalance input-text mdl-textfield__input", aria_label = Resources.BalanceLabel, aria_describedby = "basic-addon1" })
                    <label class="mdl-textfield__label" for="input-addtobalance">@Resources.BalanceLabel</label>
                </div>
            </li>
            <li class="mdl-list__item">
                <input type="submit" value="@Resources.AddLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
            </li>

        </ul>
    }
</div>

<div>
    @Resources.BalanceLabel: @Model.Balance.ToPriceString((CultureInfo)ViewBag.Culture)
    @using (Html.BeginForm("UpdateAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    <ul class="mdl-list">
        @Html.HiddenFor(model => model.Id)
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(model => model.UserName, new { @class = "input-username input-text mdl-textfield__input", aria_label = Resources.UserNameLabel, aria_describedby = "basic-addon1", pattern = "[A-Z,a-z,0-9]*" })
                <label class="mdl-textfield__label" for="input-username">@Resources.UserNameLabel</label>
                <span class="mdl-textfield__error">@Resources.PatternValidationMessage</span>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.PasswordFor(model => model.OldPassword, new { @class = "input-oldpassword input-text mdl-textfield__input", aria_label = Resources.PasswordLabel, aria_describedby = "basic-addon1" })
                <label class="mdl-textfield__label" for="input-oldpassword">@Resources.OldPasswordLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "input-newpassword input-text mdl-textfield__input", aria_label = Resources.PasswordLabel, aria_describedby = "basic-addon1" })
                <label class="mdl-textfield__label" for="input-newpassword">@Resources.NewPasswordLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-confirmpassword input-text mdl-textfield__input", aria_label = Resources.PasswordLabel, aria_describedby = "basic-addon1" })
                <label class="mdl-textfield__label" for="input-confirmpassword">@Resources.ConfirmPasswordLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "input-firstname input-text mdl-textfield__input", aria_label = Resources.FirstNameLabel, aria_describedby = "basic-addon1" })
                <label class="mdl-textfield__label" for="input-firstname">@Resources.FirstNameLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(model => model.LastName, new { @class = "input-lastname input-text mdl-textfield__input", aria_label = Resources.LastNameLabel, aria_describedby = "basic-addon1" })
                <label class="mdl-textfield__label" for="input-lastname">@Resources.LastNameLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(model => model.Email, new { @class = "input-email input-text mdl-textfield__input", aria_label = Resources.EmailLabel, aria_describedby = "basic-addon1" })
                <label class="mdl-textfield__label" for="input-email">@Resources.EmailLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.DropDownListFor(model => model.SelectedLanguage, SupportedLanguages.AsSelectList(), new { @class = "mdl-textfield__input", id = "lang-input" })
                <label class="mdl-textfield__label" for="lang-input">@Resources.LanguageLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.DropDownListFor(model => model.SelectedTimeZone, TimeZoneInfos.AsSelectList(), new { @class = "mdl-textfield__input", id = "timezone-input" })
                <label class="mdl-textfield__label" for="timezone-input">@Resources.TimeZoneLabel</label>
            </div>
        </li>
        <li class="mdl-list__item">
            <input type="submit" value="@Resources.UpdateLabel" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
        </li>
    </ul>
    }

</div>