﻿@model UserRole

@{
    ViewBag.Title = Resources.UserRolesTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.UserRolesTitle</h2>
<div>
    <ul class="mdl-list">
        @using (Html.BeginForm("AddUserRole", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.DropDownListFor(model => model.UserId, new SelectList((IEnumerable<User>)ViewData["Users"], "Id", "UserName"), new { @class = "mdl-textfield__input", id = "username-input" })
                    <label class="mdl-textfield__label" for="username-input">@Resources.UserNameLabel</label>
                </div>
            </li>
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @Html.DropDownListFor(model => model.RoleId, new SelectList((IEnumerable<Role>)ViewData["Roles"], "Id", "Name"), new { @class = "mdl-textfield__input", id = "role-input" })
                    <label class="mdl-textfield__label" for="role-input">@Resources.RoleLabel</label>
                </div>
            </li>
            <li class="mdl-list__item">
                <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="@Resources.AddLabel">
            </li>
        }
        </ul>
</div>