﻿.seat-plan,
.area-plan {
    position: center;
    width: auto;
    margin: 0 auto;
}

.area-item,
.seat-item {
    height: 60px;
    width: 60px;
}

.body-container {
    height: 100%;
    margin: 100px;
}

.menu-link {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.mdl-list{
}

.mdl-list__item {
    min-width: 500px;
}

.input-validation-error {
    border-bottom: 2px solid #ff0000;
}

.mdl-grid {
    width: 100%;
}

.mdl-cell{
    padding: 0;
    margin: 20px;
}

.mdl-navigation__link.drawer-header {
    color: white;
}

body {
    margin: 0;
}

.body-container {

}

a img {
    border: 0px;
}

::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}

::selection {
    background-color: #6ab344;
    color: #fff;
}

.drawer-header-text {
    color: white;
}

.android-header {
    overflow: visible;
    background-color: #26262c;
}

    .android-header .material-icons {
        color: white;
    }

    .android-header .mdl-layout__drawer-button {
        background: transparent;
        color: white;
    }

    .android-header .mdl-navigation__link {
        color: white;
        font-weight: 700;
        font-size: 14px;
        background-color: #1f1f23;
    }

.android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
}

.android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.mdl-navigation__link.drawer-header {
    display: inline-block;
    line-height: 30px;
    background-color: #9146ff !important;
    font-size: 16px;
    font-weight: bold;
}

.android-drawer {
    background-color: #1f1f23;
}

.android-drawer-separator {
    height: 1px;
    background-color: #1f1f23;
    margin: 8px 0;
}

.android-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #9146ff;
}


.mdl-menu {
    background-color: #1f1f23;
}

.mdl-menu__item {
    background-color: #1f1f23;
}

    .mdl-menu__item.sub-menu-item {
        background-color: #1f1f23;
        height: 45px;
    }

.mdl-navigation__link.sub-menu {
    line-height: 45px;
}

.android-more-button {
    order: 2;
}

.android-content.mdl-layout__content{
    height: auto;
}

.android-footer {
    background-color: #fafafa;
    position: relative;
}

    .android-footer a:hover {
        color: #8bc34a;
    }

    .android-footer .mdl-mega-footer--top-section::after {
        border-bottom: none;
    }

    .android-footer .mdl-mega-footer--middle-section::after {
        border-bottom: none;
    }

    .android-footer .mdl-mega-footer--bottom-section {
        position: relative;
    }

        .android-footer .mdl-mega-footer--bottom-section a {
            margin-right: 2em;
        }

    .android-footer .mdl-mega-footer--right-section a .material-icons {
        position: relative;
        top: 6px;
    }

.demo-card-square.mdl-card {
    width: 256px;
    height: 256px;
    margin: 40px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}